<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/error.css"> <!-- Link to the CSS file -->
</head>
<body>
    <h1>{{title}}</h1>
    <p>{{message}}</p>
    <a href="/">Go back to the home page</a>
</body>
</html>
