<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="app-container" class="content-wrapper">
        <h1 id="main-title">{{title}}</h1>
        
        <div id="select-section">
            <div class="select-country-wrapper">
                <select id="country-select">
                    <option value="">Select a country</option>
                    <!-- Options will be populated by JavaScript -->
                </select>
            </div>

            <div class="select-city-wrapper">
                <select id="city-select">
                    <option value="">Select a city</option>
                    <!-- Options will be populated by JavaScript -->
                </select>
            </div>
            <button id="get-weather-btn">Get Weather</button>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
